<a href="https://colab.research.google.com/github/victorsakai/arquivos-DNC/blob/main/Anota%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 0

Aulas, anotações e testes

# Variáveis em python

In [ ]:
print('Olá, mundo!') # função imprimir, contendo um tipo de dado string (str)

Olá, mundo!

In [ ]:
print("teste aspas duplas")                         # pode utilizar simples ou dupla, mas utiliza-se mais a simples
print()                                             # pula uma linha
print(10)                                           # print de um inteiro inteiro (int)
print(10.5)                                         # print de um decimal (float)
print(10.5 + 9.5)                                   # print de uma operação matemática
print('10' + '10')                                  # concatena
print(' ')
print('texto' + ', ' + 'teste escrita')
print('eu teno ',3,' cachorros')                    # para concatenar str com int ou float, utilizar vírgula

teste aspas duplas

10
10.5
20.0
1010

texto, teste escrita
eu teno  3  cachorros

In [ ]:
# Declarando Variáveis

lanche = 'x-burger'          # estrutra: variáveis, atribuição e valores armazenados
preco = 10.9
qtd = 2

print(lanche , preco , qtd)

x-burger 10.9 2

In [ ]:
# contas

lanche = 10.9
batata = 5.9
refri = 3
conta = lanche + batata + refri
print(conta)

19.8

In [ ]:
# impressão composta

print('Descrição do pedido')
print()
print('Lanche R$', lanche)
print('Bata R$ ', batata)
print('Refrigerante R$ ', refri)
print()
print('**Total R$ ', conta)

Descrição do pedido

Lanche R$ 10.9
Bata R$  5.9
Refrigerante R$  3

**Total R$  19.8

In [ ]:
# função type

type(lanche)
type('teste')

str

In [ ]:
# Tipo de dado bool

pgtoCartao = True
pgtoBolet = False

type(pgtoCartao)

bool

# Operadores Matemáticos

Operadores diferentes:

7 ** 2 == 49       potência
7 // 2 == 3       divisão inteira
7 %  2 == 1       resto da divisão

Obs. 1: um "=" significa atribuição e dois "==" significa cálculo
Obs. 2: com strings: + concatena ; * repte n vezes

In [ ]:
# exemplos operadores com string

print('Olá' + ' mundo!')
print('Olá' * 5)
print()
print()
print('-'*21)
print('-'*4 + ' Bem vindo ' + '-'*4)

Olá mundo!
OláOláOláOláOlá


---------------------
---- Bem vindo ----

Transformando variáveis

int()
float()
str()

Utilizado quando temos os dados num formato indesejado

In [ ]:
#Exemplo

print('int(1.857) = ',type(int(1.857)))
print('int(4) = ',type(int('4')))
print(int(True))
print(int(False))
print(float(1))
print(float(True))
print(str(1))
print(str(True))

int(1.857) =  <class 'int'>
int(4) =  <class 'int'>
1
0
1.0
1.0
1
True

In [ ]:
# print() com .format

a = 2
b = 3
c = 2.835895
print('texto {}, mais texto {}'.format(a,b))
print('divisão {}'.format(a/b))
print('divisão |{0:10.3f}|, formtação |{1:10.3f}| '.format(a/b,c))

texto 2, mais texto 3
divisão 0.6666666666666666
divisão |     0.667|, formtação |     2.836|

# Condicionais

In [ ]:
# Exemplo1

decisao = input('O que deseja comer? ')

if decisao == 'Lanche':
  print('Ir ao Mc Donalds')
  print('Comer lanche')
else:
  print('Ir a Pizza Hut')
  print('Comer pizza')
print('Fome satisfeita')

O que deseja comer? Batata
Ir a Pizza Hut
Comer pizza
Fome satisfeita

In [ ]:
# Exemplo2

decisao = input('O que deseja comer? ')

if decisao == 'Lanche':
  print('Ir ao Mc Donalds')
  print('Comer lanche')
  print('Fome satisfeita')
elif decisao == 'Pizza':
  print('Ir a Pizza Hut')
  print('Comer pizza')
  print('Fome satisfeita')
elif decisao == 'Sushi':
  print('Ir a restaurante japonesa')
  print('Comer sushi')
  print('Fome satisfeita')
else:
  print('Opção não encontrada')

O que deseja comer? coco
Opção não encontrada
Fome satisfeita

In [ ]:
# Exemplo3

valorDisponivel = float(input('Quanto tenho: '))
precoLanche = float(input('Preço do lanche: '))

if valorDisponivel >= 20 and precoLanche <= 10:
  print('Pode comprar')
else:  
  print('Não pode comprar, ta pobre')

# .isnumeric() --> é numérico
# .isalpha() --> é texto
# .isalnum() --> é texto e numérico

Quanto tenho: 20
Preço do lanche: 11
Não pode comprar, ta pobre

# Estrutras de repetição

In [ ]:
# estrutura for
i = 1

for i in range(1,6):
  print('Ler página: {}'.format(i))
print('Fim')

Ler página: 1
Ler página: 2
Ler página: 3
Ler página: 4
Ler página: 5
Fim

In [ ]:
# estrtura for + range(inicio, fim, passo)
# soma = soma + 1 ----> soma += 1
# sub = sub - 1 ----> sub -= 1
# mult = mult*2 ----> mult *=2  
# div = div*2 ----> div /=2 

soma = 0

for i in range(1,9+1,2):
  soma = soma + i 
  print('i = {} e soma = {}'.format(i,soma))
print('A soma dos ímpares de 1 a 9 é:',soma)

i = 1 e soma = 1
i = 3 e soma = 4
i = 5 e soma = 9
i = 7 e soma = 16
i = 9 e soma = 25
A soma dos ímpares de 1 a 9 é: 25

In [ ]:
# Estrutra while

soma = 0
while soma <= 20:
  n = float(input('Digite o número para somar: '))
  soma += n
print('A soma total foi de {:.2f}'.format(soma))

Digite o número para somar: 2
Digite o número para somar: 20
A soma total foi de 22.00

# Tuplas e Listas

## Tuplas

In [ ]:
# Tupla é um tipo de variável composta - aceitam todos os tipos de dados, inclusive misturados

tupla = ('lanche','batata','refri')
tupla2 = (2,6,4,5,7)

print(tupla)
print(tupla[0])
print(tupla[1])
print(tupla[2])

#Obs: não pega o último termo
print(tupla2[0:2])
print(tupla2[1:4])
print(tupla2[1:])
print(tupla2[:3])

#Obs: pode pegar de trás para frente
print(tupla2[-1])
print(tupla2[-3])

#Obs: tuplas não podem ser modificadas

('lanche', 'batata', 'refri')
lanche
batata
refri
(2, 6)
(6, 4, 5)
(6, 4, 5, 7)
(2, 6, 4)
7

In [ ]:
# Funções com tuplas
t1 = (0,6,4,2,8)
t2 = (1,3,3,5,3,5,7)

print(len(t1))       #qtd. caracteres
print(sorted(t2))    #ordena, porém transforma em lista
print(t2.count(3))   #conta algo
print(t2.index(7))   #encontra o primeiro valor = 7
print(t2.index(3,3)) #encontra o primeiro valor = 3 após o 3º
print(t1 + t2)

5
[1, 3, 3, 3, 5, 5, 7]
3
6
4
(0, 6, 4, 2, 8, 1, 3, 3, 5, 3, 5, 7)

In [ ]:
# Tuplas dentro de for
t1 = (2,6,4,5,7)
for i in t1:
  print(i)

print('--------------')

t2 = ('lanche','batata','batata','refri')
for i in t2:
  print(i)

print('--------------')

soma = 0
for i in t1:
  soma += i
print('soma: {}'.format(soma))

print('--------------')

for indice, valor in enumerate(t2):
  print('No indice {} o produto é {}'.format(indice,valor))
print('fim')

2
6
4
5
7
--------------
lanche
batata
batata
refri
--------------
soma: 24
--------------
No indice 0 o valor é lanche
No indice 1 o valor é batata
No indice 2 o valor é batata
No indice 3 o valor é refri
fim

## Listas

In [ ]:
# Tambem se usa o acessar itens por posição
# Métodos: index e count
# funções: len() e sorted()
# concatenar junta por posição
# Podem ser modificadas

<h2> Diferença entre Função e Método </h2>

Como podemos ver no exemplo acima:

* Funções são executadas em variáveis e possuem como output uma nova variável. Com isso as funções **NÃO** modificam a variável original. Toda função tem a cara: `saida = funcao(variavel)`
* Já os métodos modificam as variáveis e salvam o resultado na própria variável. Todo método tem a cara: `variavel.metodo(configuracao)`

Por esse comportamente básico os métodos não funcionam em tuplas.

In [ ]:
l1 = [2,5,4,5,7]

# Modificando:
l1[0] = 1
print(l1)

# Modificando
l1[0:2] = [2,5]
print(l1)

# Inserindo
l1.append(7)
print(l1)

# Inserindo
l1.insert(1,3)
print(l1)

# Deletando
del l1[2]
print(l1)

# Deletando e salvando o valor deletado. Se não disser a posição deleta o último
var = l1.pop(2)
print('var')
print('l1')

# Deletando por valor - remove: encontra o primeiro da esquerda para a direita
l1.remove(7)
print(l1)

# Ordenando a lista
print(sorted(l1))                    # não modifica a lista
l1.sort()                           # modifica a lista
print(l1)
l1.sort(reverse=True)               #modifica e coloca ao inverso
print(l1)

# Declarando uma lista em branco
lista = []
lista = list()

# Declarando uma lista a partir de um range
## lista = list(range(inicio,fim,passo))

# Copiando e clonando listas - quando se igual  duas  lista elas ocupam o mesmo espaço de memoria
# Com isso se vc modifica uma vc modifica a outra. Entao para copiar sem ocorrer isso: l2 = l1[:]

l1 =[0,2,4,6,8,1,3]
l2 = l1

l1.pop()

print(l1)
print(l2)

l1 =[0,2,4,6,8,1,3]
l2 = l1[:]

l1.pop()

print(l1)
print(l2)

# Listas dentro de for
l1 = [1,3,5,7,9]
l2 = [2,4,6,8,10]
l3 = []

for i, valor in enumerate(l1):
  l3.append(l1[i] + l2[i])
  print(l3)

# Função zip - considera a menor lista entre duas para executar o loop

l1 = [1,3,5,7,9]
l2 = [2,4,6]
l3 = []

for v1, v2 in zip(l1,l2):
  print(f'v1 = {v1} e v2 = {v2}')
print(l3)

[1, 5, 4, 5, 7]
[2, 5, 4, 5, 7]
[2, 5, 4, 5, 7, 7]
[2, 3, 5, 4, 5, 7, 7]
[2, 3, 4, 5, 7, 7]
var
l1
[2, 3, 5, 7]
[2, 3, 5, 7]
[2, 3, 5, 7]
[7, 5, 3, 2]
[0, 2, 4, 6, 8, 1]
[0, 2, 4, 6, 8, 1]
[0, 2, 4, 6, 8, 1]
[0, 2, 4, 6, 8, 1, 3]
[3]
[3, 7]
[3, 7, 11]
[3, 7, 11, 15]
[3, 7, 11, 15, 19]
v1 = 1 e v2 = 2
v1 = 3 e v2 = 4
v1 = 5 e v2 = 6
[]

## Listas dentro de listas

In [ ]:
cardapio = [['Lanche', 10.9],
            ['Batata', 5.5],
            ['Refri', 3.8]]
print(cardapio[0])
print(cardapio[0][1])

['Lanche', 10.9]
10.9

# Dicionários

In [ ]:
# estrutura semelhante à lista
# ao invés da posição ser numérica, temos nomes como chaves
# a estrutra é divida em 3 pontos: key, value, item
# key é sempre uma string

In [ ]:
# Declarando

dicio = {}
dicio = dict()
dicio = {'nome' : 'Everton',
        'idade' : 29,
        'cidade' : 'São José'}

# Acessando
dicio['nome'] == 'Everton'
dicio['idade'] == 29

# Modificando
dicio['nome'] = 'Thiago'

# Criando nova chave
dicio['peso'] = 70

print(dicio)

# Acessando valores
print(dicio.values())
# for v in dicio.values()

# Acessando chaves
print(dicio.keys())
# for k in dicio.keys()

# Items
print(dicio.items())
# for k, v in dicio.items()

# Deletando valores
del dicio['cidade']
print(dicio)

{'nome': 'Thiago', 'idade': 29, 'cidade': 'São José', 'peso': 70}
dict_values(['Thiago', 29, 'São José', 70])
dict_keys(['nome', 'idade', 'cidade', 'peso'])
dict_items([('nome', 'Thiago'), ('idade', 29), ('cidade', 'São José'), ('peso', 70)])
{'nome': 'Thiago', 'idade': 29, 'peso': 70}

In [ ]:
# Dicionários dentro de listas -  como uma tabela

# Inserindo dados - método .copy()

# for dicio in listas:
  # for k, v in dicio.items():

# lista.append(dicio.copy())

# Funções

In [ ]:
# Função é uma rotina ou algo repetitivo
# Pode ser num mesmo program ou em funções diferentes (existem várias padrões no pyhon)
# Exemplo em mercado financeiro: fibonacci. Matemática: funções machine learn
# Funções nativas ex.: print, len, range, int, float e bibliotecas (pandas, numpy...)

In [ ]:
def funcao():
  print('Função')
funcao()

# Precisa dar espaço em branco após a função (dois espaços quando tiver IDE)

Função

In [ ]:
def soma(a,b):
  print(a+b)

soma(2,3)
soma(3,4)
#soma(-2) dá erro

5
7

In [ ]:
def soma(a=0, b=0):
  print(a+b)
soma(-2)

-2

In [ ]:
def soma(a=0, b=0):
  s = a + b
  return s

s = soma(3,3)
print(s)

6

In [ ]:
def soma(* num):
  """
  Função soma: soma todos os números de entrada
  
  """
  s = 0
  for n in num:
    s += n
  return s

s = soma(3,3,3,3,3,3,3,3)
print(s)

24

In [ ]:
help(soma)

Help on function soma in module __main__:

soma(*num)
    Função soma: soma todos os números de entrada

In [ ]:
c = 10
def soma(* num):
  """
  Função soma: soma todos os números de entrada
  
  """
  global c 

  c=5
  s = 0
  for n in num:
    s += n
  return s

s = soma(3,3,3,3,3,3,3,3)
print(s)
print(c)

24
5